<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get your favorite food in 100+ Restaurant served">
    <meta name="theme-color" content="#ff8c00" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">

    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__brand">
            <h1>Makanyuk</h1>
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/Favorite">Favorite</a></li>
                <li><a href="https://github.com/rendyandika28">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <h5>Copyright © 2021 - Makanyuk Apps</h5>
    </footer>
</body>

</html>